<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Ocean Surf</string>
		<key>background</key>
		<string>58.11.jpg</string>
		<key>sound</key>
		<string>58.Ocean_Surf_Big.mp3</string>
		<key>isUsable</key>
		<true/>
		<key>volume</key>
		<real>0.5</real>
		<key>uniqueId</key>
		<string>157</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Rain</string>
		<key>background</key>
		<string>59.161.jpg</string>
		<key>sound</key>
		<string>59.Rain_Hard_Concrete_loop.mp3</string>
		<key>isUsable</key>
		<true/>
		<key>volume</key>
		<real>0.5</real>
		<key>uniqueId</key>
		<string>158</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>River</string>
		<key>background</key>
		<string>60.119.jpg</string>
		<key>sound</key>
		<string>60.Spring_Water_3.mp3</string>
		<key>isUsable</key>
		<true/>
		<key>volume</key>
		<real>0.5</real>
		<key>uniqueId</key>
		<string>159</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Seagulls</string>
		<key>background</key>
		<string>61.CB090_NBA0044.jpg</string>
		<key>sound</key>
		<string>61.Surf_Gulls_Shiphorn.mp3</string>
		<key>isUsable</key>
		<true/>
		<key>volume</key>
		<real>0.5</real>
		<key>uniqueId</key>
		<string>160</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Jungle</string>
		<key>background</key>
		<string>62.CB090_NBA0064.jpg</string>
		<key>sound</key>
		<string>62.Jungle_Ambience_2.mp3</string>
		<key>isUsable</key>
		<true/>
		<key>volume</key>
		<real>0.5</real>
		<key>uniqueId</key>
		<string>161</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Whales</string>
		<key>background</key>
		<string>63.CB090_NBA0041.jpg</string>
		<key>sound</key>
		<string>63.Whales_Water.mp3</string>
		<key>isUsable</key>
		<true/>
		<key>volume</key>
		<real>0.5</real>
		<key>uniqueId</key>
		<string>162</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Stream</string>
		<key>background</key>
		<string>64.124.jpg</string>
		<key>sound</key>
		<string>64.Country_Stream_loop.mp3</string>
		<key>isUsable</key>
		<true/>
		<key>volume</key>
		<real>0.5</real>
		<key>uniqueId</key>
		<string>163</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Thunder</string>
		<key>background</key>
		<string>65.CB090_NBA0090.jpg</string>
		<key>sound</key>
		<string>65.Rain_-_Thunder_-__Downpour.mp3</string>
		<key>isUsable</key>
		<true/>
		<key>volume</key>
		<real>0.5</real>
		<key>uniqueId</key>
		<string>164</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Wind Chimes</string>
		<key>background</key>
		<string>66.177.jpg</string>
		<key>sound</key>
		<string>66.Wind_Chimes_Tinkle_Pretty_Peaceful_Light.mp3</string>
		<key>isUsable</key>
		<true/>
		<key>volume</key>
		<real>0.5</real>
		<key>uniqueId</key>
		<string>165</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Light Music Box</string>
		<key>background</key>
		<string>67.music-toy-1421750.jpg</string>
		<key>sound</key>
		<string>67.Music_Box_Melody_1.mp3</string>
		<key>isUsable</key>
		<true/>
		<key>volume</key>
		<real>0.5</real>
		<key>uniqueId</key>
		<string>166</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Ceiling Fan</string>
		<key>background</key>
		<string>68.ceiling-fan-1-1259066.jpg</string>
		<key>sound</key>
		<string>68.constant_hum_of_ceiling_fan_rotating.mp3</string>
		<key>isUsable</key>
		<true/>
		<key>volume</key>
		<real>0.5</real>
		<key>uniqueId</key>
		<string>167</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Static</string>
		<key>background</key>
		<string>69.static-1536652.jpg</string>
		<key>sound</key>
		<string>69.TV_Static_15KHz_Buzz_ZA02_549.mp3</string>
		<key>isUsable</key>
		<true/>
		<key>volume</key>
		<real>0.5</real>
		<key>uniqueId</key>
		<string>168</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Birdsong Summer Morning</string>
		<key>background</key>
		<string>74.172.jpg</string>
		<key>sound</key>
		<string>74.Birdsong_Summer_Morning_2.mp3</string>
		<key>isUsable</key>
		<true/>
		<key>volume</key>
		<real>0.5</real>
		<key>uniqueId</key>
		<string>173</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Boats Docked</string>
		<key>background</key>
		<string>75.boats-1253440.jpg</string>
		<key>sound</key>
		<string>75.Boats_Creaking.mp3</string>
		<key>isUsable</key>
		<true/>
		<key>volume</key>
		<real>0.5</real>
		<key>uniqueId</key>
		<string>174</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Fireplace</string>
		<key>background</key>
		<string>76.birthplace-1514364.jpg</string>
		<key>sound</key>
		<string>76.FIREPLACE_CRACKLE_01.mp3</string>
		<key>isUsable</key>
		<true/>
		<key>volume</key>
		<real>0.5</real>
		<key>uniqueId</key>
		<string>176</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Ducks</string>
		<key>background</key>
		<string>01.CB090_NBA0074.jpg</string>
		<key>sound</key>
		<string>01.Duck_Pond.mp3</string>
		<key>isUsable</key>
		<false/>
		<key>volume</key>
		<real>0.5</real>
		<key>uniqueId</key>
		<string>100</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Tokyo</string>
		<key>background</key>
		<string>02.CB090_NBA0026.JPG</string>
		<key>sound</key>
		<string>02.Street_Ambience_Tokyo_6.mp3</string>
		<key>isUsable</key>
		<false/>
		<key>volume</key>
		<real>0.5</real>
		<key>uniqueId</key>
		<string>101</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Violin</string>
		<key>background</key>
		<string>03.violin-1424683.jpg</string>
		<key>sound</key>
		<string>03.Violin_Staccato_Loop_Dm_160_bpm.mp3</string>
		<key>isUsable</key>
		<false/>
		<key>volume</key>
		<real>0.5</real>
		<key>uniqueId</key>
		<string>102</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Flute</string>
		<key>background</key>
		<string>04.flute-4-1425269.jpg</string>
		<key>sound</key>
		<string>04.Jazz_Flute_Phrase_Loop_2_D-m_180_bpm.mp3</string>
		<key>isUsable</key>
		<false/>
		<key>volume</key>
		<real>0.5</real>
		<key>uniqueId</key>
		<string>103</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Harp</string>
		<key>background</key>
		<string>05.arpa-1420355.jpg</string>
		<key>sound</key>
		<string>05.melodic_harp_-_background_loop.mp3</string>
		<key>isUsable</key>
		<false/>
		<key>volume</key>
		<real>0.5</real>
		<key>uniqueId</key>
		<string>104</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Window Fan</string>
		<key>background</key>
		<string>06.fan-1482191.jpg</string>
		<key>sound</key>
		<string>06.Old_Window_Fan_1.mp3</string>
		<key>isUsable</key>
		<false/>
		<key>volume</key>
		<real>0.5</real>
		<key>uniqueId</key>
		<string>105</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Oven Fan</string>
		<key>background</key>
		<string>07.fan-array-1194627.jpg</string>
		<key>sound</key>
		<string>07.Oven_Fan_1.mp3</string>
		<key>isUsable</key>
		<false/>
		<key>volume</key>
		<real>0.5</real>
		<key>uniqueId</key>
		<string>106</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Campfire</string>
		<key>background</key>
		<string>08.fire-2-1195698.jpg</string>
		<key>sound</key>
		<string>08.Fire_Campfire_Busy_Crackles_Snaps_1.mp3</string>
		<key>isUsable</key>
		<false/>
		<key>volume</key>
		<real>0.5</real>
		<key>uniqueId</key>
		<string>107</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Clock</string>
		<key>background</key>
		<string>09.the-clock-2-1480348.jpg</string>
		<key>sound</key>
		<string>09.Grandfather_Clock___Ticking.mp3</string>
		<key>isUsable</key>
		<false/>
		<key>volume</key>
		<real>0.5</real>
		<key>uniqueId</key>
		<string>108</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Subway</string>
		<key>background</key>
		<string>11.subway-1191727.jpg</string>
		<key>sound</key>
		<string>11.NYC_Subway_Train_Passingwav.mp3</string>
		<key>isUsable</key>
		<false/>
		<key>volume</key>
		<real>0.5</real>
		<key>uniqueId</key>
		<string>110</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Dryer</string>
		<key>background</key>
		<string>12.at-the-saloon-1221151.jpg</string>
		<key>sound</key>
		<string>12.Clothes_Dryer_Loop.mp3</string>
		<key>isUsable</key>
		<false/>
		<key>volume</key>
		<real>0.5</real>
		<key>uniqueId</key>
		<string>111</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Meditation</string>
		<key>background</key>
		<string>13.CB090_NBA0066.jpg</string>
		<key>sound</key>
		<string>13.Solar_Meditation.mp3</string>
		<key>isUsable</key>
		<false/>
		<key>volume</key>
		<real>0.5</real>
		<key>uniqueId</key>
		<string>112</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Heartbeat</string>
		<key>background</key>
		<string>14.ekg-line-hearthbeat-1141654.jpg</string>
		<key>sound</key>
		<string>14.Slow_Heartbeat_with_heavy_reverb.mp3</string>
		<key>isUsable</key>
		<false/>
		<key>volume</key>
		<real>0.5</real>
		<key>uniqueId</key>
		<string>113</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Bali Waterfall</string>
		<key>background</key>
		<string>15.CB090_NBA0048.jpg</string>
		<key>sound</key>
		<string>15.Waterfall_Bali.mp3</string>
		<key>isUsable</key>
		<false/>
		<key>volume</key>
		<real>0.5</real>
		<key>uniqueId</key>
		<string>114</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Small Waterfall</string>
		<key>background</key>
		<string>16.CB090_NBA0052.jpg</string>
		<key>sound</key>
		<string>16.Waterfall_1.mp3</string>
		<key>isUsable</key>
		<false/>
		<key>volume</key>
		<real>0.5</real>
		<key>uniqueId</key>
		<string>115</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Domestic Dryer</string>
		<key>background</key>
		<string>17.laundry-1420444.jpg</string>
		<key>sound</key>
		<string>17.Thunder_Loop_2.mp3</string>
		<key>isUsable</key>
		<false/>
		<key>volume</key>
		<real>0.5</real>
		<key>uniqueId</key>
		<string>116</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Windy Thunderstorm</string>
		<key>background</key>
		<string>18.CB090_NBA0018.jpg</string>
		<key>sound</key>
		<string>18.Perfect_Storm.mp3</string>
		<key>isUsable</key>
		<false/>
		<key>volume</key>
		<real>0.5</real>
		<key>uniqueId</key>
		<string>117</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Busy Street</string>
		<key>background</key>
		<string>19.traffic-1251697.jpg</string>
		<key>sound</key>
		<string>19.Traffic_Suburb_Street_Corner_Calm.mp3</string>
		<key>isUsable</key>
		<false/>
		<key>volume</key>
		<real>0.5</real>
		<key>uniqueId</key>
		<string>118</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Crowd Ambience</string>
		<key>background</key>
		<string>20.urban-1230178.jpg</string>
		<key>sound</key>
		<string>20.Big_Crowd_Music.mp3</string>
		<key>isUsable</key>
		<false/>
		<key>volume</key>
		<real>0.5</real>
		<key>uniqueId</key>
		<string>119</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Barcelona Market</string>
		<key>background</key>
		<string>21.barcelona-market-1319601.jpg</string>
		<key>sound</key>
		<string>21.Barcelona_Market.mp3</string>
		<key>isUsable</key>
		<false/>
		<key>volume</key>
		<real>0.5</real>
		<key>uniqueId</key>
		<string>120</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Crickets</string>
		<key>background</key>
		<string>22.crickets-1558206.jpg</string>
		<key>sound</key>
		<string>22.Crickets_Constant_Generic.mp3</string>
		<key>isUsable</key>
		<false/>
		<key>volume</key>
		<real>0.5</real>
		<key>uniqueId</key>
		<string>121</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Air Conditioner</string>
		<key>background</key>
		<string>23.hot-cold-dial-1241749.jpg</string>
		<key>sound</key>
		<string>23.Air_Conditioner_5.mp3</string>
		<key>isUsable</key>
		<false/>
		<key>volume</key>
		<real>0.5</real>
		<key>uniqueId</key>
		<string>122</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Airplane Interior</string>
		<key>background</key>
		<string>24.airplane-landing-1449681.jpg</string>
		<key>sound</key>
		<string>24.Airplane_Ambience_1_747_interior_loop.mp3</string>
		<key>isUsable</key>
		<false/>
		<key>volume</key>
		<real>0.5</real>
		<key>uniqueId</key>
		<string>123</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Vacuum</string>
		<key>background</key>
		<string>25.cleaning-1224832.jpg</string>
		<key>sound</key>
		<string>25.Vacuum_On_Run_Off_Steady.mp3</string>
		<key>isUsable</key>
		<false/>
		<key>volume</key>
		<real>0.5</real>
		<key>uniqueId</key>
		<string>124</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Leaves</string>
		<key>background</key>
		<string>26.TRE0047.jpg</string>
		<key>sound</key>
		<string>26.Footsteps_through_Leaves_1.mp3</string>
		<key>isUsable</key>
		<false/>
		<key>volume</key>
		<real>0.5</real>
		<key>uniqueId</key>
		<string>125</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Cat Purring</string>
		<key>background</key>
		<string>27.cat-1393633.jpg</string>
		<key>sound</key>
		<string>27.Cat_Purring.mp3</string>
		<key>isUsable</key>
		<false/>
		<key>volume</key>
		<real>0.5</real>
		<key>uniqueId</key>
		<string>126</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>White Noise</string>
		<key>background</key>
		<string>28.static-snow-1519563.jpg</string>
		<key>sound</key>
		<string>28.white_noise_-_loop_friendly_tv_static.mp3</string>
		<key>isUsable</key>
		<false/>
		<key>volume</key>
		<real>0.5</real>
		<key>uniqueId</key>
		<string>127</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Scuba</string>
		<key>background</key>
		<string>29.lovin-scuba-1402126.jpg</string>
		<key>sound</key>
		<string>29.Aqua-Lung_3.mp3</string>
		<key>isUsable</key>
		<false/>
		<key>volume</key>
		<real>0.5</real>
		<key>uniqueId</key>
		<string>128</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Rain on Tent</string>
		<key>background</key>
		<string>30.TRE0053.jpg</string>
		<key>sound</key>
		<string>30.Rain_onto_Tent_Canvas.mp3</string>
		<key>isUsable</key>
		<false/>
		<key>volume</key>
		<real>0.5</real>
		<key>uniqueId</key>
		<string>129</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Birds Owl Morning</string>
		<key>background</key>
		<string>31.CB090_NBA0059.jpg</string>
		<key>sound</key>
		<string>31.Birds_Early_Morning_6.mp3</string>
		<key>isUsable</key>
		<false/>
		<key>volume</key>
		<real>0.5</real>
		<key>uniqueId</key>
		<string>130</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Birds Crow Morning</string>
		<key>background</key>
		<string>32.CB090_NBA0060.jpg</string>
		<key>sound</key>
		<string>32.Birds_Country__1.mp3</string>
		<key>isUsable</key>
		<false/>
		<key>volume</key>
		<real>0.5</real>
		<key>uniqueId</key>
		<string>131</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Museum</string>
		<key>background</key>
		<string>33.museum-1461168.jpg</string>
		<key>sound</key>
		<string>33.Busy_Museum_Ambience_1.mp3</string>
		<key>isUsable</key>
		<false/>
		<key>volume</key>
		<real>0.5</real>
		<key>uniqueId</key>
		<string>132</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Yacht Wind Sails</string>
		<key>background</key>
		<string>34.yachts-5-1545794.jpg</string>
		<key>sound</key>
		<string>34.Harbour_Yacht_Riggings_in_Wind_2.mp3</string>
		<key>isUsable</key>
		<false/>
		<key>volume</key>
		<real>0.5</real>
		<key>uniqueId</key>
		<string>133</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Harbor Water</string>
		<key>background</key>
		<string>35.13.jpg</string>
		<key>sound</key>
		<string>35.Boat_Harbor.mp3</string>
		<key>isUsable</key>
		<false/>
		<key>volume</key>
		<real>0.5</real>
		<key>uniqueId</key>
		<string>134</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>City Park</string>
		<key>background</key>
		<string>36.park-1458513.jpg</string>
		<key>sound</key>
		<string>36.City___Children___Birds___Traffic.mp3</string>
		<key>isUsable</key>
		<false/>
		<key>volume</key>
		<real>0.5</real>
		<key>uniqueId</key>
		<string>135</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Internet Cafe</string>
		<key>background</key>
		<string>37.cafe-1531517.jpg</string>
		<key>sound</key>
		<string>37.Internet_Cafe_Atmos.mp3</string>
		<key>isUsable</key>
		<false/>
		<key>volume</key>
		<real>0.5</real>
		<key>uniqueId</key>
		<string>136</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Office Ambience</string>
		<key>background</key>
		<string>38.office-1463743.jpg</string>
		<key>sound</key>
		<string>38.Office_Ambience.mp3</string>
		<key>isUsable</key>
		<false/>
		<key>volume</key>
		<real>0.5</real>
		<key>uniqueId</key>
		<string>137</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Printing Press</string>
		<key>background</key>
		<string>39.large-format-printing-1243566.jpg</string>
		<key>sound</key>
		<string>39.Printing_Press.mp3</string>
		<key>isUsable</key>
		<false/>
		<key>volume</key>
		<real>0.5</real>
		<key>uniqueId</key>
		<string>138</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Computer Server Room</string>
		<key>background</key>
		<string>40.front-rack-server-1243429.jpg</string>
		<key>sound</key>
		<string>40.Room_Tone_Machine_Room_1.mp3</string>
		<key>isUsable</key>
		<false/>
		<key>volume</key>
		<real>0.5</real>
		<key>uniqueId</key>
		<string>139</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Freeway Traffic</string>
		<key>background</key>
		<string>41.freeway-1477436.jpg</string>
		<key>sound</key>
		<string>41.Traffic_Freeway_Loop.mp3</string>
		<key>isUsable</key>
		<false/>
		<key>volume</key>
		<real>0.5</real>
		<key>uniqueId</key>
		<string>140</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Helicopter Interior</string>
		<key>background</key>
		<string>42.helicopter-1534226.jpg</string>
		<key>sound</key>
		<string>42.Helicopter_Interior.mp3</string>
		<key>isUsable</key>
		<false/>
		<key>volume</key>
		<real>0.5</real>
		<key>uniqueId</key>
		<string>141</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Water Over Rocks</string>
		<key>background</key>
		<string>43.river-1382382.jpg</string>
		<key>sound</key>
		<string>43.brook.mp3</string>
		<key>isUsable</key>
		<false/>
		<key>volume</key>
		<real>0.5</real>
		<key>uniqueId</key>
		<string>142</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Boiling Water</string>
		<key>background</key>
		<string>44.on-the-burner-1395799.jpg</string>
		<key>sound</key>
		<string>44.Boiling_Sizzling_Water.mp3</string>
		<key>isUsable</key>
		<false/>
		<key>volume</key>
		<real>0.5</real>
		<key>uniqueId</key>
		<string>143</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Water Dripping</string>
		<key>background</key>
		<string>45.161.jpg</string>
		<key>sound</key>
		<string>45.Drips_2.mp3</string>
		<key>isUsable</key>
		<false/>
		<key>volume</key>
		<real>0.5</real>
		<key>uniqueId</key>
		<string>144</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Water Pouring</string>
		<key>background</key>
		<string>46.pour-1187721.jpg</string>
		<key>sound</key>
		<string>46.WATERING_CANTEEN_POUR_OUT_LIQUID_SLOW_01.mp3</string>
		<key>isUsable</key>
		<false/>
		<key>volume</key>
		<real>0.5</real>
		<key>uniqueId</key>
		<string>145</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Water Sprinklers</string>
		<key>background</key>
		<string>47.garden-sprinkler-1352391.jpg</string>
		<key>sound</key>
		<string>47.Garden_Hose_2.mp3</string>
		<key>isUsable</key>
		<false/>
		<key>volume</key>
		<real>0.5</real>
		<key>uniqueId</key>
		<string>146</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Water Sprinklers</string>
		<key>background</key>
		<string>48.53.jpg</string>
		<key>sound</key>
		<string>48.Hail_Heavy_Backyard_Rain.mp3</string>
		<key>isUsable</key>
		<false/>
		<key>volume</key>
		<real>0.5</real>
		<key>uniqueId</key>
		<string>147</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Wind and Leaves</string>
		<key>background</key>
		<string>49.CB090_NBA0056.jpg</string>
		<key>sound</key>
		<string>49.Windy_Outside.mp3</string>
		<key>isUsable</key>
		<false/>
		<key>volume</key>
		<real>0.5</real>
		<key>uniqueId</key>
		<string>148</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Windy</string>
		<key>background</key>
		<string>50.reed-1375606.jpg</string>
		<key>sound</key>
		<string>50.Windy_1.mp3</string>
		<key>isUsable</key>
		<false/>
		<key>volume</key>
		<real>0.5</real>
		<key>uniqueId</key>
		<string>149</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Thunder and Rain</string>
		<key>background</key>
		<string>51.TRE0061.jpg</string>
		<key>sound</key>
		<string>51.Thunder_Loop_2.mp3</string>
		<key>isUsable</key>
		<false/>
		<key>volume</key>
		<real>0.5</real>
		<key>uniqueId</key>
		<string>150</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Light Wind Chimes</string>
		<key>background</key>
		<string>52.wind-chime-1554047.jpg</string>
		<key>sound</key>
		<string>52.Wind_chimes_Outside_1.mp3</string>
		<key>isUsable</key>
		<false/>
		<key>volume</key>
		<real>0.5</real>
		<key>uniqueId</key>
		<string>151</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Buddhist Bells</string>
		<key>background</key>
		<string>53.shanghai-temple-bell-1545634.jpg</string>
		<key>sound</key>
		<string>53.Buddhist_Bells_1.mp3</string>
		<key>isUsable</key>
		<false/>
		<key>volume</key>
		<real>0.5</real>
		<key>uniqueId</key>
		<string>152</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Rain Winshield Wipers</string>
		<key>background</key>
		<string>54.old-chevrolet-dump-truck-1173047.jpg</string>
		<key>sound</key>
		<string>54.Wind_Shield_Wipers_3.mp3</string>
		<key>isUsable</key>
		<false/>
		<key>volume</key>
		<real>0.5</real>
		<key>uniqueId</key>
		<string>153</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Frogs</string>
		<key>background</key>
		<string>55.CB090_NBA0064.jpg</string>
		<key>sound</key>
		<string>55.Frog_Ambience_loop.mp3</string>
		<key>isUsable</key>
		<false/>
		<key>volume</key>
		<real>0.5</real>
		<key>uniqueId</key>
		<string>154</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Owls</string>
		<key>background</key>
		<string>56.CB090_NBA0063.jpg</string>
		<key>sound</key>
		<string>56.Owls_Loop_1.mp3</string>
		<key>isUsable</key>
		<false/>
		<key>volume</key>
		<real>0.5</real>
		<key>uniqueId</key>
		<string>155</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Bamboo Wind Chimes</string>
		<key>background</key>
		<string>57.CB090_NBA0093.jpg</string>
		<key>sound</key>
		<string>57.Wind_Chimes.mp3</string>
		<key>isUsable</key>
		<false/>
		<key>volume</key>
		<real>0.5</real>
		<key>uniqueId</key>
		<string>156</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Washer</string>
		<key>background</key>
		<string>70.washingmachine-1459824.jpg</string>
		<key>sound</key>
		<string>70.washer_running_loop.mp3</string>
		<key>isUsable</key>
		<false/>
		<key>volume</key>
		<real>0.5</real>
		<key>uniqueId</key>
		<string>169</string>
		<key>type</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Roman Fountain</string>
		<key>background</key>
		<string>71.trevibrunnen-rom-italien-fontana-di-trevi-1214656.jpg</string>
		<key>sound</key>
		<string>71.Fountain_Roman_1.mp3</string>
		<key>isUsable</key>
		<false/>
		<key>volume</key>
		<real>0.5</real>
		<key>uniqueId</key>
		<string>170</string>
		<key>type</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Underwater Bubbles</string>
		<key>background</key>
		<string>72.lovin-scuba-1402152.jpg</string>
		<key>sound</key>
		<string>72.Underwater_Bubbles_2.mp3</string>
		<key>isUsable</key>
		<false/>
		<key>volume</key>
		<real>0.5</real>
		<key>uniqueId</key>
		<string>171</string>
		<key>type</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Music Box</string>
		<key>background</key>
		<string>73.music-box-1424500.jpg</string>
		<key>sound</key>
		<string>73.Music_Box_Tune_2.mp3</string>
		<key>isUsable</key>
		<false/>
		<key>volume</key>
		<real>0.5</real>
		<key>uniqueId</key>
		<string>172</string>
		<key>type</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Wind and Birdsong</string>
		<key>background</key>
		<string>10.bird-1393592.jpg</string>
		<key>sound</key>
		<string>10.Wind_in_Trees_Heavy_with_Birdsong_1.mp3</string>
		<key>isUsable</key>
		<false/>
		<key>volume</key>
		<real>0.5</real>
		<key>uniqueId</key>
		<string>109</string>
		<key>type</key>
		<integer>3</integer>
	</dict>
</array>
</plist>
